body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.navbar a{
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 7px;
    color: white;
}
.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: #0B0D17;
}
h1{
    font-size : 80px;
    font-weight :normal;
    color : #364958;
    line-height : 20px;
    font-family: 'Bebas Neue', cursive;
}
h2{
    font-size:30px;
    font-weight:200px;
    color:#364958;
    line-height:40px;
}
.orange-color{
    color: #FBA24F;
}
.half-width{
    width:40%;
}
.flexible-container{
    display:flex;
    justify-content: center;
    align-items: center;
}
.half-width .banner-img{
    width:100%;
}
.center-img{
    display: flex;
    justify-content: center;
}
.link-button{
    background-image: linear-gradient(45deg,#FBA24F,#FF1E1E);
    text-decoration: none;
    color: white;
    padding: 10px 18px;
    border-radius: 20px;
}
.top-banner{
    background-image: url('/images/shapes/7.png');
    margin-top:100px;
    background-repeat: no-repeat;
}
.top-banner .half-width img{
    width: 60%;
}
.experience-area{
    margin-top:100px;
    background-repeat: no-repeat;
    background-image: url('/images/shapes/Frame\ 59.jpg');
}
.experience-area .half-width img{
    width: 70%;
    padding: 3%;
}
.experience{
    box-shadow: 10px 10px 20px grey;
    padding: 5%;
    border-radius: 15px;
}
#recipies{
    margin-top: 60px;
}
.recipe-title h2{
    text-align: center;
}

.my-recipe{
    width: 700px;
    text-align: center;
    margin: 0 auto;
}
.recipe{
    width: 25%;
    margin: 20px;
    box-shadow: 10px 10px 25px lightgray;
    border-radius: 20px;
}
.recipe img{
    width: 90%;
}
.recipe-img{
    text-align: center;
    padding-top: 5%;
}
.recipe-description{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
}

.recipies{
    display: flex;
    justify-content: center;
}
footer{
    text-align: center;
    margin-top:70px;
    padding-top: 50px;
    background-color: #0B0D17;
    height:200px;
}
#footer-title{
    color: #5B5B5B;
}

footer p{
    color: whitesmoke;
}
.bottom-header{
    font-size: 50px;
    line-height: 0;
    color: black;
}
.follower-section{
    width: 90%;
    border-radius: 20px;
    box-shadow: 20px 20px 40px lightgray;
    display: flex;
    justify-content: space-around;
    height: 200px;
    align-items: center;
}
.bottom-section{
    margin-top: 70px;
    display: flex;
    justify-content: center;
}
.single-follower{
    text-align: center;
}